body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background: black;
}
button {
  color: black;
  font-weight: bolder;
  margin: 2%;
  border: none;
}
button:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  color: white;
}
button::after {
  background-color: white;
  color: black;
}
