body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  background: black;
  padding: 2%;
}
button {
  color: black;
  font-weight: bolder;
  border: none;
  margin: 2% 0;
}
button:hover {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  color: white;
}
button::after {
  background-color: white;
  color: black;
}
.resetButton {
  background-color: red;
  color: white;
}
